*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    background: linear-gradient(#76d7c4,#85c1e9);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-list{
    background: #fff;
    display: flex;
    height: 120px;
    flex-direction: column;
    min-height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #fff;
}

.header{
    padding: 2em;

}

.header h1{
 color: rgb(172, 13, 13);
 text-align: center;
}

.list{
    flex-grow: 1;
    padding: 2em;
    overflow-y:scroll;
}

.add-task{
    padding: 2em;
    display: flex;
}

.add-task input{
    border: 1px solid rgb(10, 218, 20);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex-grow: 1;
    padding: 1em;
    outline: none;
}

.add-task button{
    outline: none;
    border: none;
    padding: 1em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #3498db;
    color: #fff;
    cursor: pointer;
}

.add-task input:hover{
border: 1px solid #ddd;
}

.add-task input:active{
    border: 1px solid #ccc;
}

.add-task input:focus{
    border: 1px solid #3498db;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0  5px #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background: #566573;
    border-radius: 10px;
}

.delete{
    cursor: pointer;
}

.list ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.list ul li i{
    cursor: pointer;
    color: rgb(192, 25, 25);
    padding: 1em;
}

.list ul li i:hover{
    background: #f1f1f1;
}


































